.pagination-principal {
  display: flex;
  align-items: center;
  max-width: fit-content;
  background: transparent;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
}
.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  cursor: pointer;
  background: white;
  border: 1px solid #ededed;
  height: 30px;
  border-radius: 15px;
}
.pagination-selected {
  background-color: #0052cc;
  color: white;
}
